header{
    display: flex;
    margin: 0 auto 2rem auto;
    width: 40%;
}

.logo{
    width: 20%;
}

.logo svg{
    height: 4rem;
    width: 4rem;
}

.titulo {
    text-align: center;
    margin: auto;
}



