
body{
    background-color: rgb(58, 47, 47);  
    margin: 1em auto;
    min-height: 100vh;
    width: 100%;
}

main{
    margin: 0 auto;
    width: 100%;
}

.desktop-only{
    display: revert;
}

.mobile-only{
    display: none;
}