 /*====================
    ======Product=========
    ======================*/

    .product-image-gallery{
        margin: 2rem 0;
        width: 100%;
    }

    .product-info-title h2{
        font-size: 1.2rem;
    }

    .product-info-price h3{ 
        font-size: 1rem;
    }
    
    .product-info-plus-minus-title {
        margin-right: 5rem;
    }

    .product-info-add-to-cart{
        margin: 0 auto;
        width: max-content;
    }